{% extends 'otb/base.html' %}
{% load static %}

{% block content %}
<br>
<br>

<div class="container-index">

    <p class="p-index"><br>Entendemos que un viaje sin complicaciones y placentero es la base de toda aventura memorable. Nuestra misión es mejorar su experiencia de viaje al brindar soluciones innovadoras que aborden los desafíos de viaje más comunes. Con pasión por la conveniencia, la comodidad y la seguridad, ofrecemos una gama de productos de alta calidad diseñados para que sus viajes sean placenteros y sin estrés.</p>
</div>

<h2 class="h2-index">Nuestros productos</h2>

<div class="container-p">
    <p>
        1. Carteras con bloqueo RFID: En el mundo digital actual, proteger su información personal es primordial. Nuestras carteras con bloqueo RFID están diseñadas con tecnología de vanguardia para salvaguardar sus datos confidenciales de escaneos no autorizados y robo de identidad. Viaje con confianza, sabiendo que sus tarjetas de crédito, pasaportes y otros documentos importantes están seguros dentro de nuestras carteras elegantes y funcionales.
    </p>
    
    <p>
        2. Bandas antimareos: No permita que el mareo le impida explorar el mundo. Nuestras bandas antimareos utilizan técnicas de acupresión comprobadas para aliviar el malestar y las náuseas durante sus viajes. Ya sea que esté en un avión, un crucero o una carretera sinuosa, estas bandas ofrecen una solución natural y efectiva, que le permite disfrutar plenamente de su viaje.
    </p>
    
    <p>
        3. Rodillo quitapelusas de tamaño de viaje: Una apariencia pulida es esencial, incluso cuando está de viaje. Nuestro rodillo quitapelusas de tamaño de viaje es una herramienta compacta pero potente que garantiza que baje del avión, tren o automóvil luciendo lo mejor posible. Dígale adiós a las molestas pelusas, pelos de mascotas y pelusas, y déle la bienvenida a una apariencia limpia y ordenada sin importar dónde se encuentre.
    </p>
</div>
<br>
<br>
{% endblock %}