{% extends "otb/base.html" %}

{% block content %}

      <table class="table table-striped table-dark">
        <thead>
          <tr>

            <th scope="col">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido p.</th>
            <th scope="col">Apellido m.</th>
            <th scope="col">Telefono</th>
            <th scope="col">Edad</th>
            <th scope="col">Deposito</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente1 in cliente %}
            <tr>
          
              <td>{{cliente1.rut}}</td>
              <td>{{cliente1.nombre}}</td>
              <td>{{cliente1.aPaterno}}</td>
              <td>{{cliente1.aMaterno}}</td>
              <td>{{cliente1.fono }}</td>
              <td>{{cliente1.edad}}</td>
              <td>{{cliente1.deposito}}</td>
              <td>{{cliente1.email}}</td>
            
              </tr>
            
          {% endfor %}
        
              
        </tbody>
      </table>
      
      
      {% endblock content %}